
@mixin the-transition ($time: 1s, $property: all, $delay: 0s) {
	-webkit-transition:$property $time ease $delay;
	   -moz-transition:$property $time ease $delay;
	     -o-transition:$property $time ease $delay;
	        transition:$property $time ease $delay;
}



header {
	padding: 2rem 0;
}

body{
	overflow-x: hidden;
}

main {
	display: block;
	position: relative;
}

.loaded .orbit-container .rotator {
	opacity: 1;

}

.loaded .orbit-container {
	max-height: 100%;
}

.logo{
	a img{
		//float: right;
		width: 100px;
		height: 100px;
	}
}

.carousel{
	@include the-transition;
	position: relative;
}

.orbit-caption {
	@include the-transition;
	position: absolute;
	bottom: 0;
	padding: 1em;
	background: rgba($green, .75);
	font-size: .8em;
	text-transform: uppercase;
	letter-spacing: .2em;
	color: white;
}

.orbit-container .orbit-timer {
	opacity: 0;
}

.primary {
	padding: 0em 0 0.1em 0;
	.columns {
		// padding-top: 1em;
		// padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
	h1 {
		font-size: 1.25em;
		text-transform: uppercase;
		letter-spacing: .1em;
	}
	h2 {
		font-size: .8em;
		text-transform: uppercase;
	}
	h3 {
		font-size: 1em;
	}
}

.slick-slide img{
	max-height: 290px;
	width: 100%;
}

.read-more{
	font-size: 0.7em;
}

.home .news {
	border-right: 1px solid $silver;
}

.news {

	> ul > li {
		font-size: 0.9em;
		> a {
			letter-spacing: 0;
			text-transform: initial;
			padding-bottom: 0.3em;
			display: block;
		}
		&:last-child a {
			padding-bottom: 0;
		}
	}
	a {
		h3 {
			@include the-transition;
			font-size: .8rem;
			color: $green;
			letter-spacing: 0;
			text-transform: initial;
		}
		&:hover h3 {
			color: lighten($green, 5%);
		}

	}
	.date {
		font-size: .8rem;
	}
}
/////////// Subpage

.small-link {
	font-size: 60%;
	text-transform: uppercase;
}

.subpage hr.divider {
	margin-top: 0;
	margin-bottom: 2rem;
}
.subpage .row.body {
	padding-bottom: .75rem;
	.content {
		h1 {
			font-size: 1.25rem;
			text-transform: uppercase;
			letter-spacing: .1rem;
		}
		h2 {
			font-size: .8rem;
			text-transform: uppercase;
		}
		h3 {
			font-size: 1rem;
		}
		p {
			font-size: .9rem;
		}
	}

}

figure .orbit-container .orbit-bullets {
	float: left;
	margin-bottom: 0.5em;
}

.charts{
 margin-top: 1rem;
 margin-bottom: 2em;
}

////////// PORTFOLIO PAGE

.location {
	color: $gray;
//	letter-spacing: .1rem;
}

ul.small-blocks {
	margin-bottom: -1.25rem;
}

aside ul {
	padding-top: 0;
	a {
		@include the-transition(500ms);
		font-size: .75rem;
		text-transform: uppercase;
		 letter-spacing: .1rem;
		color: lighten($green, 10%);
	}
	li {
		margin-bottom: .75rem;
	}
	article {
		font-size: .75rem;
	}
}


$total_fading_elements: 42;
@for $i from 1 through $total_fading_elements {
	ul.small-blocks li:nth-of-type(#{$i}) {
		opacity: 0;
		$delay_time: 0s + (.25s * $i);
		@include the_transition($delay: $delay_time);
	}
	.loaded ul.small-blocks li:nth-of-type(#{$i}) {
		opacity: 1;
	}
}

////////// NEWS PAGE

aside li {
	h4 {
		font-size: 1rem;
		margin-bottom: 0;
		margin-top: .5rem;
	}
	font-size: .8rem;
	border-bottom: $hr-border-width $hr-border-style $hr-border-color;
	padding-bottom: .5rem;
	&:last-child {
		border-bottom: none;
		padding-bottom: none;
	}
}

/// Changing the active class background
.top-bar-section li.active:not(.has-form) a:not(.button) {
	color: lighten($green, 10%);
	background: none;
	&:hover {
		color: $green;
		background: none;
	}
}

.top-bar.expanded {
	//max-width: 60%;
	width: 200px;
	//min-width: 200px;
	max-width: 100%;
	position: absolute;
	right: 15px;
	//padding-left: 1rem;
	background: $white;
	z-index: 30;
	-webkit-box-shadow: 1px 1px 5px 0px rgba($black, 0.75);
	-moz-box-shadow:    1px 1px 5px 0px rgba($black, 0.75);
	box-shadow:         1px 1px 5px 0px rgba($black, 0.75);

	.title-area {
		background: #eee;
	}

	.top-bar-section .dropdown li.title h5 a {
		text-transform: uppercase;
		font-size: .8rem;
		color: $silver;
	}

	.toggle-topbar.menu-icon {
		width: 100%;
	}

}

.social{
	img{
		float:right;
	}
}

footer {
	font-size: .8rem;
	line-height: 1.5;
	text-transform: uppercase;
	letter-spacing: .1em;
	//padding-top: 1em;
	padding-bottom: 1em;
}

/// THIS FIXES A PROBLEM IN THE ORBIT CONTAINER - create problems on the homepage though - so only brough on subpages

.orbit-container {
	.orbit-slides-container {
		&.fade li {
			transition: none;
		}
	}
}

@media #{$topbar-media-query} {
.navigation {
	padding-top: 2em;

	.top-bar-section li:not(.has-form) a:not(.button) {
		&:hover {
			color: lighten($green, 10%);
		}
	}

	.top-bar-section > ul {
		> li {
			border-right: 1px solid $silver;
			padding-left: .5em;
			padding-right: .5em;
			a:hover {
				color: $green;
			}

			&:hover {
				z-index: 30;

				a {
					color: $green;
				}
				ul.dropdown {
					-webkit-box-shadow: 1px 1px 5px 0px rgba($black, 0.66);
					-moz-box-shadow:    1px 1px 5px 0px rgba($black, 0.66);
					box-shadow:         1px 1px 5px 0px rgba($black, 0.66);

				}
			}
		}
	}

	ul li {
		//border-right: 1px solid #ccc;
		//padding-right: 1.25em;

		a {
			@include the-transition(500ms);
			padding: .5em 1em;
			font-size: .8em;
			&:hover {
				color: lighten($green, 10%);
			}
		}
		&:last-child  {
			border-right: none;
		}
	}
}
.welcome p {
	font-size: .8rem;
	}
}

@media #{$small-only}{
	figure{
		margin:0;
	}
	.slick-slide img{
	height: 100px;
	width: 100%;
	overflow: hidden;
	}

	.subpage .row.body {
	padding-bottom: .75rem;
	.content {
		h1 {
			margin-top: 1em;
			font-size: 1.25rem;
			text-transform: uppercase;
			letter-spacing: .1rem;
		}
		h2 {
			font-size: .8rem;
			text-transform: uppercase;
		}
		h3 {
			font-size: 1rem;
		}
		p {
			font-size: .9rem;
		}
	}

}

	$orbit-bullet-hide-for-small: false !important;

	.orbit-caption {
	bottom: 0px;
	font-size: 0.6em;
	}
	.news{
		margin-top:-25px;
	}

	$total_fading_elements: 42;
	@for $i from 1 through $total_fading_elements {
		ul.small-blocks li:nth-of-type(#{$i}) {
			opacity: 0;
			// $delay_time: 0s + (.10s * $i);
			// @include the_transition($delay: $delay_time);
		}
		.loaded ul.small-blocks li:nth-of-type(#{$i}) {
			opacity: 1;
		}
	}

	.rotator-fade-fix{
		padding-bottom: 1em;
	}
}

@media #{$medium-only}{
	.slick-slide img{
	height: 225px;
	width: 100%;
	overflow: hidden;
	}
	.orbit-caption {
	bottom: 0px;
	font-size: 0.8em;
	}

	figure {
	padding: 0;
	margin: 0;
	}

	.read-more{
		font-size: 0.9em;
	}

	.news {
		> ul > li {
			font-size: 1em;
			margin-bottom: 0.5em;
			> a {
				letter-spacing: 0;
				text-transform: initial;
				padding-bottom: 0.2em;
				display: block;
			}
			&:last-child a {
				padding-bottom: 1.5em;
			}
		}
		a {
			h3 {
				@include the-transition;
				font-size: .8rem;
				color: $green;
				letter-spacing: 0;
				text-transform: initial;
			}
			&:hover h3 {
				color: lighten($green, 5%);
			}

		}
	.date {
			font-size: .9rem;
		}
	}

	footer{
		padding-top: 2em;
	}
}

@media #{$large-up} {

	figure {
		padding: 0;
		margin: 0;
	}
	.portfolio-item {
		position: relative;
		display: block;

		figure {
			position: relative;
			width: 100%;
			padding-bottom: 100%;
			height: auto;
			overflow: hidden;
		}

		.image, figcaption {
			position: absolute;
			width: 100%;
			height: 100%;

		}
		.image {
			left: 0;
			top: 0;
			z-index: 1;
			img {
				width: 100%;
				height: 100%;
				//@include the-transition(200ms);
			}
		}
		figcaption {
			left: 0;
			top: -100%;
			background: rgba($green, .75);
			z-index: 2;
			@include the-transition(500ms);

			h2, h3 {
				text-align: center;
				color: $white;
				font-weight: 400;
			}
			h2 {
				font-size: 1.1rem;
				margin-bottom: 0;
			}
			h3 {
				font-size: 0.6rem;
	//			letter-spacing: .2em;
				text-transform: uppercase;
			}
			p{
				font-size: 0.8rem;
			}
			.capwrapper {
				padding: .5em;
				display: inline;
				position: absolute;
				top: 40%;
				width: 100%;
				margin-top: -2rem;
			}
		}

		&:hover, &:focus {
			figcaption {
				top: 0;
				height: 100%;
			}
		}
	}

	.pad-right-large {
		float: right;
		padding-left: 2rem;
		padding-bottom: 2rem;
	}
	.pad-left-large {
		float: left;
		padding-right: 2rem;
		padding-bottom: 2rem;
	}
}

@media #{$large-only}{
	header{
		padding: 0.8em 0;
	}

	.primary {
		padding: 0.1em 0 0.1em 0;
		.columns {
			padding-right: 1.2rem;
		}
		h1 {
			font-size: 1.25em;
			text-transform: uppercase;
			letter-spacing: .1em;
		}
		h2 {
			font-size: .8em;
			text-transform: uppercase;
		}
		h3 {
			font-size: 1em;
		}
	}

	.slick-slide img{
		min-height: 290px;
		width: 100%;
		margin-top: -15px;
		overflow: hidden;
	}

	// .top{
	// 	margin-top: -18px;
	// }

	.read-more{
			font-size: 0.8em;
		}

	.news {
		> ul > li {
			font-size: 0.9em;
			> a {
				letter-spacing: 0;
				text-transform: initial;
				padding-bottom: 0.2em;
				display: block;
			}
			&:last-child a {
				padding-bottom: 0.1em;
			}
		}
		a {
			h3 {
				@include the-transition;
				font-size: .8rem;
				color: $green;
				letter-spacing: 0;
				text-transform: initial;
			}
			&:hover h3 {
				color: lighten($green, 5%);
			}

		}
	.date {
			font-size: .8rem;
		}
	}
}

@media #{$xlarge-up} {
	.primary {
		padding: 0.5em 0 0.5em 0;
		.columns {
			padding-right: 1.5rem;
		}
		h1 {
			font-size: 1.25em;
			text-transform: uppercase;
			letter-spacing: .1em;
		}
		h2 {
			font-size: .8em;
			text-transform: uppercase;
		}
		h3 {
			font-size: 1em;
		}
	}

		.read-more{
			font-size: 0.8em;
		}

		.news {

		> ul > li {
			font-size: 1.1em;
			> a {
				letter-spacing: 0;
				text-transform: initial;
				padding-bottom: 1em;
				display: block;
			}
		}
		a {
			h3 {
				@include the-transition;
				font-size: .8rem;
				color: $green;
				letter-spacing: 0;
				text-transform: initial;
			}
			&:hover h3 {
				color: lighten($green, 5%);
			}

		}
		.date {
			font-size: .8rem;
		}
	}

	footer{
		padding-top: 1em;
	}
}

@media #{$small-up} { }
@media #{$small-only} { }

@media #{$medium-up} { }
@media #{$medium-only} { }

@media #{$large-up} { }
@media #{$large-only} { }
